@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
button {
    cursor: pointer;
    border: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.header {
    background-color: #635854;
    padding: 12px 0;
    border-bottom: 4px solid #3596f5;
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin-left: 80px;
}
.navbar-item:first-child {
    margin-left: 0;
}
.navbar-link {
    text-decoration: none;
    color: #fff;
}
.navbar-contacts {
    text-align: right;
}
.navbar-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}
.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    background-color: #fff;
    border: none;
}
.counter-arrow-down {
    transform: rotateX(180deg);
}
.main-title {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}
.counter {
    font-family: 'Bebas Neue', sans-serif;
    color: #635854;
    font-weight: normal;
    font-size: 124px;
}
.button-primery {
    background: #3596f5;
    padding: 16px 36px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
}
.footer {
    margin-top: 80px;
    background-color: #d7d7d7;
    padding: 30px 0;
    color: #635854;
}
.footer__items {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo-contacts {
    display: flex;
    align-items: center;
}

.footer__contact {
    display: inline-block;
    margin-left: 37px;
}
.footer-text {
    display: block;
}
.footer-phone {
    color: #635854;
    text-decoration: none;
}
.footer__social {
    display: inline-block;
    margin-left: 60px;
}
.footer__social a {
    margin-left: 15px;
}
.footer__social a:first-child {
    margin-left: 0;
}

.footer__menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__menu-list li {
    margin-left: 20px;
}
.footer__menu-list li a {
    color: #635854;
}
